body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative; /* add relative positioning to body */
    background-color: #000;
  }
  
  body .header {
    position: absolute;
    top: 0;
    height: 10vh;
    width: 100vw;
    font-size: 4vh;
    border-radius: 5px;
    background-color: #000;
    color: #ffffff;
    border: 4px solid #ff0000;
    text-shadow: 2px 2px 0 #ff0000;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  
  #game-container {
    position: absolute;
    top: 25vh;
    width: 100vw;
    background-color: #2d2d2d;
    box-sizing: border-box;
    transition: opacity 0s ease 0.1s;
  }
  
  #score-container {
    position: absolute;
    width: 50%;
    top: 10vh;
    height: 15vh;
    background-color: #000;
    color: #000;
    text-shadow: 2px 2px 0 #ff0000;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

  #score-box,
  #high-score-box {
    font-size: 6vh;
    padding: 10px 20px;
    height: 10;
    width: 25vw;
    border-radius: 4px;
    background-color: #000; 
    color: #ffffff;
    border: 2px solid #ff0000;
    text-shadow: 2px 2px 0 #ff0000; 
    font-family: 'Press Start 2P', cursive; /* retro arcade font */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #high-score-container {
    position: absolute;
    left: 50%;
    right: 0;
    top: 10vh;
    height: 15vh;
    background-color: #000;
    color: #000;
    text-shadow: 2px 2px 0 #000;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  
  #start-button,
  #restart-button {
    font-size: 4vh;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #000; 
    color: #ffffff; 
    border: 2px solid #ff0000;
    text-shadow: 2px 2px 0 #ff0000; 
    font-family: 'Press Start 2P', cursive; /* retro arcade font */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  
